
<mat-toolbar color="primary">

    <div fxHide.gt-xs>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div><a routerLink="/">LOGO</a></div>

    <div fxFlex fxLayout fxLayoutGap="15px" fxLayoutAlign="flex-end" fxHide.xs>
      <a routerLink="/signup" *ngIf="!isAuth">Signup</a>
      <a routerLink="/login" *ngIf="!isAuth">Login</a>
      <a routerLink="/training" *ngIf="isAuth">Training</a>
      <a *ngIf="isAuth" (click)="onLogout()">Logout</a>
    </div>

  </mat-toolbar>
  
  